@{
    ViewData["Title"] = "Welcome";
}

<!-- Hero Section -->
<div class="hero-section">
    <div>
        <h1>All Solutions <span style="color: #5A7D9A">For You</span></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dignissimos earum sapiente animi saepe architecto.</p>
        <a class="btn btn-success" id="sign-button" asp-controller="Account" asp-action="SignUp">Sign Up</a>

    </div>
</div>

<!-- Features Section -->
<div class="features container-fluid">
    <div class="row no-gutters">
        <div class="col-md-4 feature">
            <div class="icon mb-3">
                <i class="fas fa-users fa-2x"></i>
            </div>
            <h3>Experienced Teams</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione, fugit.</p>
        </div>
        <div class="col-md-4 feature middle">
            <div class="icon mb-3">
                <i class="fas fa-dollar-sign fa-2x"></i>
            </div>
            <h3>Reasonable Price</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione, fugit.</p>
        </div>
        <div class="col-md-4 feature">
            <div class="icon mb-3">
                <i class="fas fa-smile fa-2x"></i>
            </div>
            <h3>Tolerant Approach</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione, fugit.</p>
        </div>
    </div>
</div>