
@{
    ViewData["Title"] = "Solutions";
}

<!-- Hero Section -->
<div class="hero-section-solution">
    <div class="container text-center">
        <h1>Welcome to ProductTrace IT Solutions!</h1>
        <p>We offer the best solutions with our customer management center.</p>
        <a class="btn btn-primary btn-lg" id="sign-button" href="about.html" role="button">More information</a>
    </div>
</div>

<!-- Services Section -->
<div class="container features mt-5">
    <h2 class="section-title text-center">Our services</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card feature">
                <div class="card-body">
                    <i class="fas fa-user-shield icon fa-3x"></i>
                    <h5 class="card-title mt-3">Customer Management</h5>
                    <p class="card-text">We offer the best solutions for your customers' needs.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card feature middle">
                <div class="card-body">
                    <i class="fas fa-network-wired icon fa-3x"></i>
                    <h5 class="card-title mt-3">Network Security</h5>
                    <p class="card-text">We provide the most secure solutions to protect your company's data.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card feature">
                <div class="card-body">
                    <i class="fas fa-chart-line icon fa-3x"></i>
                    <h5 class="card-title mt-3">Data analysis</h5>
                    <p class="card-text">We offer data analysis services to optimize your business processes.</p>
                </div>
            </div>
        </div>
    </div>
</div>



