@model htmlProductModel
@{
    Layout = "userLayout";
    ViewData["Title"] = "AddProduct";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center mb-4" style="color: #5A7D9A;">Ürün Ekle</h2>
            <h3>Ad Soyad: @Model.OwnerName @Model.OwnerSurname ID:@Model.OwnerID </h3>
            <hr>
            <form asp-action="AddProduct" asp-controller="Kullanici" method="post">
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label for="productName" style="color: #5A7D9A;">Ürün Adı:</label>
                    <input type="text" id="productName" name="ProductName" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="quantity" style="color: #5A7D9A;">Miktar:</label>
                    <input type="number" id="quantity" name="Quantity" class="form-control" />
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary" style="background-color: #5A7D9A;">Ekle</button>
                </div>
            </form>
        </div>
    </div>
</div>

